<ion-header class="custom-header">
      <h1>BIENVENIDO</h1>
      <ion-img class=logop src="/assets/icon/logo.png.png"alt="logo empresa">  
      </ion-img>
</ion-header>

<ion-content class="login-container">
  <div class="login-form">
    <!-- Correo electrónico -->
    <ion-label class="label">Correo electrónico o usuario</ion-label>
    <ion-input class="input" type="email" placeholder="Sarah@example.com/pepito"></ion-input>

    <!-- Contraseña -->
    <ion-label class="label">Contraseña</ion-label>
    <ion-input class="input" type="password" placeholder="********"></ion-input>

    <!-- Enlace para recuperar contraseña -->
    <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>

    <!-- Botón de iniciar sesión -->
    <button class="login-button">INICIAR SESIÓN</button>

    <!-- Enlace para registro -->
    <div class="register-link">
      <span>¿No tienes cuenta? <a href="signup">Regístrate</a></span>
    </div>
  </div>
</ion-content>

