<ion-header class="custom-header">
  <ion-buttons slot="start">
    <ion-menu-button class="buttonColor"></ion-menu-button>
  </ion-buttons>
  <h1>Espera Parking</h1>
  <ion-img class="logop" src="/assets/icon/logo.png.png" alt="logo empresa"></ion-img>
</ion-header>

<ion-content>

  <!-- Componente de refresco -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="contenido">
    <ion-item class="custom-item" *ngFor="let vehiculo of vehiculos">
      <ion-avatar slot="start" class="custom-avatar">
        <img [src]="vehiculo.imagenUrl" alt="Imagen del vehículo" />
      </ion-avatar>

      <ion-label class="info-label">
        <p><strong class="socio">Placa:</strong> <span class="socio">{{ vehiculo.placa }}</span></p> 
        <p><strong class="socio">Modelo:</strong> <span class="socio">{{ vehiculo.marca }}</span></p> 
        <p><strong class="socio">Tipo:</strong> <span class="socio">{{ vehiculo.tipo_usuario }}</span></p> 
      </ion-label>

      <ion-button fill="outline" slot="end" class="ver-button">
        Ver
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
