.custom-header {
    background: #e5b87d;
    border-bottom-right-radius: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Distribuye el espacio */
    height: 160px;
}

.logop {
    background-color: rgb(247, 226, 194);
    margin: 10px;
    border-radius: 30px;
    padding: 5px;
}

.logop {
    max-width: 80px;
    height: auto;
    background-color: rgb(247, 226, 194);
    margin-left: auto;
    margin-right: 10px;
    border-radius: 30px;
    padding: 5px;
    object-fit: contain;
}

.buttonColor {
    color: black;
}